@model StatNav.WebApplication.Models.ExperimentIteration
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">

            @foreach (var prop in ViewData.ModelMetadata.Properties)
            {
                //exceptions in the case statements are for the complex object types
                <dt>
                    @switch (prop.PropertyName)
                    {
                        case "ExperimentProgramme":
                        case "ExperimentCandidates":
                            break;
                        default:
                            @(prop.DisplayName ?? prop.PropertyName)
                            break;

                    }
                </dt>
                <dd>
                    @switch (prop.PropertyName)
                    {
                        case "ExperimentProgrammeId":
                            @(Model.ExperimentProgramme != null ? Model.ExperimentProgramme.Name : "");
                            break;

                        case "ExperimentProgramme":
                        case "ExperimentCandidates":
                            break;
                        default:
                            @prop.Model
                            break;
                    }
                </dd>



            }
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Candidates</h4>
        @Html.Partial("../Candidate/_list", Model.ExperimentCandidates)
    </div>
</div>