<th scope="col">
    <a href="@Url.Action("Index","Iteration",new { sortOrder = ViewBag.IdSortParm })">ID <span class="glyphicon glyphicon-sort"></span></a>
</th>
<th scope="col">
    <a href="@Url.Action("Index","Iteration",new { sortOrder = ViewBag.NameSortParm })">Iteration Name <span class="glyphicon glyphicon-sort"></span></a>
</th>
<th scope="col">
    <a href="@Url.Action("Index","Iteration",new { sortOrder = ViewBag.StartDateSortParm })">Start Date <span class="glyphicon glyphicon-sort"></span></a>
</th>
<th scope="col">
    <a href="@Url.Action("Index","Iteration",new { sortOrder = ViewBag.EndDateSortParm })">End Date <span class="glyphicon glyphicon-sort"></span></a>
</th>

