@{
    var selectedType = ViewBag.SelectedType;
}
<div class="form-group">
    <select id="ddlExperimentType" class="form-control pull-right">
        <option value="PackageContainer" @if (selectedType == "PackageContainer") { <text>
                selected="selected" </text> ; }>
            Package Containers
        </option>
        <option value="MarketingAssetPackage" @if (selectedType == "MarketingAssetPackage") { <text>
                selected="selected" </text> ; }>
            Marketing Asset Packages
        </option>
        <option value="Experiment" @if (selectedType == "Experiment") { <text> selected="selected" </text> ; }>
            Experiments
        </option>
        <option value="Variant" @if (selectedType == "Variant") { <text> selected="selected" </text> ; }>
            Variants
        </option>
    </select>
</div>
<script>
    $(document).ready(function () {
        $("#ddlExperimentType").change(function () {
            var location = url + $('#ddlExperimentType').val();

            window.location.href = location;
        });
    });
</script>
