@model IEnumerable<StatNav.WebApplication.Models.ExperimentCandidate>

<table class="table">
    <caption>List of Experiment Candidates</caption>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", "Candidate", new {id = item.Id}, null)
            </td>
        </tr>
    }

</table>
