@model IEnumerable<StatNav.WebApplication.Models.ExperimentCandidate>

@{
    ViewBag.Title = "Index";
}

<h4>Candidates</h4>
@Html.Partial("_ExperimentTypeSelect", Model)
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_list", Model)