@using Antlr.Runtime.Tree
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Some text here to say something about this application</p>
        @Html.ActionLink("Programmes","Index","Programme",null,new {@class="btn btn-primary" })
        
    </div>
    <div class="col-md-4">
   
    </div>
    <div class="col-md-4">
       
    </div>
</div>