@using Antlr.Runtime.Tree
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Welcome to StatNav.
        </p>
        <p>
            This application is currently in closed alpha testing.  If you would like access to the application, please email Martin Campbell at <a href="mailto:martin.campbell@worldvision.org.uk">martin.campbell@worldvision.org.uk</a>
        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>