@model StatNav.WebApplication.Models.ExperimentProgramme

@{
    ViewBag.Title = "Delete";
}

<h4>Delete Programme</h4>
<div class="alert alert-danger">Are you sure you want to remove this programme? Removing this programme will also remove all its iteration and candidates</div>
@Html.Partial("_detail", Model)
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Back to List", "Index")
}

