<th scope="col">
    <a href="@Url.Action("Index","Variant",new { sortOrder = ViewBag.IdSortParm })">ID <span class="glyphicon glyphicon-sort"></span></a>
</th>
<th scope="col">
    <a href="@Url.Action("Index","Variant",new { sortOrder = ViewBag.NameSortParm })">Variant Name <span class="glyphicon glyphicon-sort"></span></a>
</th>
